<p id="notice"><%= notice %></p>

<% if @group_keyword && @group_keyword.length > 0 %>
<h3> グループ検索結果 </h3>
<% else %>
<h3>グループ一覧</h3>
<% end %>


  <div class="group-index">
    <% @groups.each do |group| %>
      <tr>
        <!-- <td><%= group.name %></td> -->
        <!-- <td><%= group.boke %></td> -->
        <!-- <td><%= group.tsukkomi %></td> -->
        <p class="element">
        <td><%= link_to "#{group.name}", group_products_path(group.id)  %></td>
        </p>
        <% if user_signed_in? && current_user.id == 1 %>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </div>


<%= paginate(@groups) %>

<% if user_signed_in? %>
<%= button_to '新しくグループを作成', "/groups/new", method: :get, class: "btn-create-group" %>
<% end %>

<%= render partial: "form_search_top" %>

