        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <p class="text-middle">
                投稿するグループを検索
                </p>
              </header>
              <%= form_tag('/groups/search_group', method: :get) do %>
                <input class="search__query" name="keyword" placeholder="グループ名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon ion-search"></i></button></input>
              <% end %>
              <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
              </form>
            </div>
          </article>
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <p class="text-middle">
                検索結果
                </p>
              </header>
          <% if @groups.length > 0 %>
                <% @groups.each do |group| %>
                  <a class="listview__element--right-icon" href="/groups/<%= group.id %>/products/create_title" title="<%= group.name %>">
                        <p class="search-results">
                          <span class="color-sub"><%= group.name %></span>
                        </p>
                  </a>
              <% end %>
              <%= paginate(@groups) %>
            <% elsif @keyword %>
              <% if @keyword.length >0 %>
             <%= "「#{@keyword}」はまだ登録されていません。" %>
             <% end %>
            <% end%>
            </div>
            <p class="create-group">
            新しくグループを作成して投稿しますか？ <%= button_to 'グループを作成', "/groups/new", method: :get, class: "btn-create-group" %>
            </p>
          </article>
        </div>



