<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Boke:</strong>
  <%= @group.boke %>
</p>

<p>
  <strong>Tsukkomi:</strong>
  <%= @group.tsukkomi %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %>
<%= link_to 'Back', groups_path %>
<%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' } %>

