<div class="top">
 <!-- <p> TOPページ </p> -->
 <!-- <p>検索フォームとダウンロードボタンを置く</p> -->

<h3 class="top_ranking">
  いいね数ランキング！
</h3>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ranking.each_with_index do |product, idx| %>
      <tr>
        <td><%= link_to "#{product.user.nickname}", "/users/#{product.user_id}" %></td>
        <td><%= link_to product.group.name, group_products_path(:group_id => product.group.id) %></td>
        <td><%= link_to "#{product.title}", product %></td>
        <td><%= "#{@ranking_values[idx]}いいね"  %>
    </tr>
    <% end %>
 </tbody>

</table>

<%= render partial: "form_search_top" %>

</div>