<div class="user_page">
  <header class="user_page-header">
    <div class="yjContainer">
      <a href="">
        <h2> <%= @user.nickname %> <span>さんのマイページ</span>
        <% if @user.id == current_user.id %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% end %>
        </h2>
      </a>
    </div>
  </header>
    <div id="yjContentsBody">
          <%= "#{current_user.nickname}さんの投稿タイトル一覧" %>
      <div class="products">
        <% @products.each do |product| %>
        <p>
          <%= link_to "#{product.title}", product_path(product.id) %>
          (<%= link_to "#{product.group.name}", group_path(product.group.id) %>)
        </p>
        <% end %>
      </div>
    </div>
  </div>