<div class="user_page">
    <div class="user_page_head">
        <% if @user.id == current_user.id %>
          <%= link_to "編集", edit_user_registration_path, method: :get, class: "edit" %>
          <%= link_to "アカウント削除", "/users", method: :delete, class: "delete" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        <% end %>
        <p> <%= @user.nickname %> <span>さんのマイページ</span>
        </p>
      </a>
    </div>
      <div class="products">
       <p class="user-posts"> <%= "#{current_user.nickname}さんの投稿タイトル一覧" %> <p>
        <% @products.each do |product| %>
        <p class=user-products>
          <%= link_to "#{product.title}", product_path(product.id), class: "title" %>
          (<%= link_to "#{product.group.name}", group_path(product.group.id), class: "group" %>)
        </p>
        <% end %>
      </div>
  </div>