<div class="user_page">
    <div class="user_page_head">
        <% if @user.id == current_user.id %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        <% end %>
        <p> <%= @user.nickname %> <span>さんのマイページ</span>
        </p>
      </a>
    </div>
      <div class="products">
       <p class="user-posts"> <%= "#{current_user.nickname}さんの投稿タイトル一覧" %> <p>
        <% @products.each do |product| %>
        <p>
          <%= link_to "#{product.title}", product_path(product.id) %>
          (<%= link_to "#{product.group.name}", group_path(product.group.id) %>)
        </p>
        <% end %>
      </div>
  </div>