<div class="user_page">
    <div class="user_page_head clearfix">
        <% if user_signed_in? && @user.id == current_user.id %>
        <p> <%= @user.nickname %> <span>さんのマイページ</span>
        </p>
          <%= link_to "アカウント設定変更", edit_user_registration_path, method: :get, class: "edit" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        <% end %>

    </div>
      <div class="products">
       <h3 class="user-posts"> <%= "#{@user.nickname}さんの投稿タイトル一覧" %> </h3>
        <% @products.each do |product| %>
        <p class=user-products>
          <%= link_to "#{product.title}", product_path(product.id), class: "title" %>
          (<%= link_to "#{product.group.name}", group_path(product.group.id), class: "group" %>)
        </p>
        <% end %>
      </div>
  </div>

  <%= paginate(@products) %>
