<p class="head-create-title">
<%= link_to "#{@group.name}", group_products_path(:group_id => @group.id)%>のタイトルを作る
</p>

<%= form_for [@group, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <p><%= @product.errors.count %> 個のエラーがあります:</p>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title , class: "title-field", placeholder: "タイトルを入力してください" %>
  </div>
    <%= f.submit "タイトルを作成", class: "btn-create-title"%>
<% end %>

