<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <p><%= @product.errors.count %> 個のエラーがあります:</p>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>
  タイトルを編集
  </h3>
  <p class="before-edit">
    <%= " < 変更前 >" %>
    <br>
    <%= "「#{@product.group.name}」の「#{@product.title}」" %>
  </p>

  <div class="edit-field">
  <%= fields_for @group, new_group_path do |c| %>
    <%= c.label :name, value: "グループ名を変更" %><br>
    <%= c.text_field :name, class: "group-update" %>
    <% end %>
  </div>

  <div class="edit-field">
    <%= f.label :title, value: "タイトルを変更" %><br>
    <%= f.text_field :title, class: "product-update" %>
  </div>
  <div class="actions">
    <%= f.submit("更新", class: "btn-update") %>
    <%= button_to "戻る",@product , class: "btn-update"%>
  </div>
<% end %>
