<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <p><%= @product.errors.count %> 個のエラーがあります:</p>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>
  <% if @edit_error_message %>
    "error"
  <% end %>
  </h2>

  <h2>
  <%= "#{@product.group.name}の#{@product.title}" %>
  </h2>
  <%= fields_for @group, new_group_path do |c| %>
    <%= c.label :name, value: "グループ名を変更" %><br>
    <%= c.text_field :name %>
    <% end %>

  <div class="field">
    <%= f.label :title, value: "タイトルを変更" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @product %>
<%= link_to 'トップへ戻る', root_path %>