<p id="notice"><%= notice %></p>

<h1>タイトル一覧</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Title</th>
      <th>いいね</th>
      <th>Download</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <%= form_tag("/products/dl_test", method: :post) do %>
  <%= check_box_tag 'check_all_products', true, false, :id => "check_all_products" , :name => "check_all_products"%>
  <label for="check_all_products"> <%="台本をすべてダウンロード"%></label>
  <br>

  <%= check_box_tag 'check_all', true, false, :id => "check_all" , :name => "check_all"%>
  <label for="check_all">このページをすべて選択  </label>
  <br>
  <%= submit_tag("ダウンロード実行") %>

  <tbody>
     <div id="checks">
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to "#{product.user.nickname}", "/users/#{product.user_id}" %></td>
        <td><%= link_to product.group.name, group_products_path(:group_id => product.group.id) %></td>
        <td><%= link_to "#{product.title}", product %></td>
        <td><%= product.comments.sum("good") %> </td>
       <td><%= check_box_tag 'check_id_[]',product.id, false, :id => "check_id_#{product.id}", :class => "check"%></td>
      </tr>
  <% end %>
  </div>
  </tbody>  <% end %>
</table>

<%= paginate(@products) %>


<%= render partial: "groups/form_search_top", locals: { group_keyword: @group_keyword, title_keyword: @title_keyword} %>

<br>

