<p id="notice"><%= notice %></p>


<h1>
  <%= @group.name -%>のページ
</h1>

<p>
  <strong>Boke:</strong>
  <%= @group.boke %>
</p>

<p>
  <strong>Tsukkomi:</strong>
  <%= @group.tsukkomi %>
</p>

<h1>タイトル一覧</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <br>

  <%= form_tag("/products/dl_test", method: :post) do %>
  <%= check_box_tag 'check_all_products', true, false, :id => "check_all_products" , :name => "check_all_products"%>
  <label for="check_all_products"> <%="#{@group.name}の台本をすべてダウンロード"%></label>
  <br>

  <%= check_box_tag 'check_all', true, false, :id => "check_all" , :name => "check_all"%>
  <label for="check_all">このページをすべて選択  </label>
  <%= hidden_field_tag :group_id, @group.id %>
  <br>
  <%= submit_tag("ダウンロード実行") %>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to "#{product.user.nickname}", "/users/#{product.user_id}" %></td>
        <td><%= product.title %></td>
        <td><%= link_to '詳細', product %></td>
          <% if user_signed_in? && current_user.id == product.user_id %>
        <td><%= link_to '編集', edit_product_path(product) %></td>
        <td><%= link_to '削除', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
       <td><%= check_box_tag 'check_id_[]',product.id, false, :id => "check_id_#{product.id}", :class => "check"%></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<%= paginate(@products) %>


<%= render partial: "products/form_search_title", locals: { group_keyword: @group_keyword, title_keyword: @title_keyword} %>

<br>

<%= link_to "新しく#{@group.name}のタイトルを作る", create_title_group_products_path %>
<%= link_to '全タイトル一覧', products_path %>
