<p id="notice"><%= notice %></p>

<h1>タイトル一覧</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.user.nickname %></td>
        <td><%= link_to product.group.name, group_products_path(:group_id => product.group.id) %></td>
        <td><%= product.title %></td>
        <td><%= link_to '詳細', product %></td>
          <% if user_signed_in? && current_user.id == product.user_id %>
        <td><%= link_to '編集', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "groups/form_search_top", locals: { group_keyword: @group_keyword, title_keyword: @title_keyword} %>

<br>


<%= link_to 'トップに戻る', root_path %>