<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者:</strong>
  <%= @product.user.nickname -%>さん
</p>

<p>
  <strong>グループ:</strong>
  <%= @product.group.name %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @product.title %>
</p>

  <div class="container"> 
    <% if current_user %>
     <% if current_user.id == @product.user_id %>
      <%= form_for [@product, @comment] do |f|%>
        <textarea cols="30" name="daihon" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
     <% end %>
    <% end %>
  </div>

    <ul style="padding: 0">
    <% @comments_view.each do |comment| %>
    <li style="border-bottom: dotted 1px">
      <div class="thumbnail__caption">
        <p>
          <%= comment.daihon %>
        </p>
      </div>
    </li>
    <% end %>
    </ul>


<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to "#{@product.group.name}のタイトル一覧", group_products_path(@product.group.id) %>
<%= link_to '全タイトル一覧', products_path %>