<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user.nickname %>
</p>

<p>
  <strong>Group:</strong>
  <%= @product.group.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'タイトル一覧に戻る', products_path %>
