<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者:</strong>
  <%= @product.user.nickname -%>さん
</p>

<p>
  <strong>グループ:</strong>
  <%= @product.group.name %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @product.title %>
</p>

    <ul style="padding: 0">
    <% @comments_view.each do |comment| %>
    <li style="border-bottom: dotted 1px">
      <div class="thumbnail__caption">
        <p>
          <% if comment.tsukkomi %>
            <%= "#{comment.product.group.tsukkomi}（つっこみ）"-%>
            <%= "「#{comment.daihon}」"%>
          <% else %>
            <%= "#{comment.product.group.boke}（ぼけ）" -%>
            <%= "「#{comment.daihon}」" %>
          <% end %>
        </p>
      </div>
    </li>
    <% end %>
    </ul>

  <div class="container">
    <% if current_user %>
     <% if current_user.id == @product.user_id %>
      <%= form_for [@product, @comment] do |f|%>
      <div class="tsukkomi_button">
      <%= f.radio_button :tsukkomi, true%>
      <%= f.label :tsukkomi, "つっこみ", :value => true%>
      <%= f.radio_button :tsukkomi, false%>
      <%= f.label :tsukkomi, "ぼけ", :value => false%>
      </div>
      <div>
      <%= f.hidden_field :prev_id, :value => @last_id %>
      <%= f.text_area :daihon, :placeholder => "台本を入力してください" %>
      </div>
      <%= f.submit %>
      <% end %>
     <% end %>
    <% end %>
  </div>




<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to "#{@product.group.name}のタイトル一覧", group_products_path(@product.group.id) %>
<%= link_to '全タイトル一覧', products_path %>