<!DOCTYPE html>
<html>
<head>
  <title>ManzaiDb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="header">
   <a href = "/groups">グループ一覧</a>
   <%= link_to '全タイトル一覧', products_path %>
</header>
<%= yield %>

  <footer class="funcbtn">
   <div class="funcbtn-contents">
    <p><a href="/">home </a>
    </p>
  </div>
  <% if user_signed_in?%>
    <div class="funcbtn-contents">
      <a class="mypagelink" href="/users/<%= current_user.id %>">my page</a>
    </div>
    <div class="funcbtn-contents">
      <a class="postlink" href="/groups/search_group">post</a>
    </div>
  <% else %>
    <div class="funcbtn-contents">
      <%= link_to "ログイン", new_user_session_path, class: 'loginlink' %>
    </div>
    <div class="funcbtn-contents">
      <%= link_to "新規登録", new_user_registration_path, class: 'signinlink' %>
    </div>
  <% end %>
  </footer>

</body>
</html>
