<!DOCTYPE html>
<html>
<head>
  <title>ManzaiDb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="header__ clearfix">
    <p class="top-message">
    <%= link_to "漫才データベース", "/" %>
    </p>
     <% if user_signed_in? %>
       <%= button_to "マイページ", "/users/#{current_user.id}", method: :get, class: "btn-mypage" %>
      <% end %>
    </header>
<%= yield %>

  <footer class="funcbtn">
   <div class="funcbtn-contents">
    <a href="/">
     <i class="icon ion-home"></i>
    </a>
  </div>
  <% if user_signed_in?%>
    <div class="funcbtn-contents">
      <a class="postlink" href="/groups/search_group">
      <i class="icon ion-compose"></i>
      </a>
    </div>
  <% else %>
    <div class="funcbtn-contents">
      <a class="mypagelink" href= "/users/sign_in", method="get">
      <i class="icon ion-compose"></i>
      </a>
    </div>
  <% end %>
    <div class="funcbtn-contents">
      <a class="grouplink" href="/groups/", method="get">
      <i class="icon ion-android-people"></i>
      </a>
    </div>
    <div class="funcbtn-contents">
      <a class="titlelink" href="/products/", method="get">
      <i class="icon ion-document-text"></i>
      </a>
    </div>
  </footer>
<!-- copy -->
</body>
</html>
